<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.automation.core.remotedao.remote_Task_InstanceBeanMapper">
  <select id="getPasswd" resultType="String">
    select server_account_password.password password
    from server_account_password
  </select>
  
</mapper>