<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
					       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
					       http://www.springframework.org/schema/context  
					       http://www.springframework.org/schema/context/spring-context.xsd  
					       http://www.springframework.org/schema/aop
					       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
					       http://www.springframework.org/schema/mvc  
					       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
					       http://www.springframework.org/schema/task 
					       http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- <bean id="SchedulerService" class="com.ibm.automation.dailyflow.controller.SchedulerController"></bean>
	<task:scheduled-tasks>   
        <task:scheduled ref="SchedulerService" method="updateTaskInfoExpectedTime" cron="* */10 * * * ?"/>   
	</task:scheduled-tasks>  -->

	<!-- 注解扫描包 -->
	<context:component-scan base-package="com.ibm.automation.*" />
	<context:component-scan base-package="com.ibm.automation.*.controller" />

	
	<!-- 注入Services -->
	<context:component-scan base-package="com.ibm.automation.*.service" />

	<!-- 开启注解 -->
	<mvc:annotation-driven />

	<!-- 读取静态文件 -->
	<mvc:resources location="/img/" mapping="/img/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/xls/" mapping="/xls/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/dailyimg/" mapping="/dailyimg/**" />
	<mvc:resources location="/dailycss/" mapping="/dailycss/**" />
	<mvc:resources location="/dailyjs/" mapping="/dailyjs/**" />
	<mvc:resources location="/zbswitchimg/" mapping="/zbswitchimg/**" />
	<mvc:resources location="/zbswitchcss/" mapping="/zbswitchcss/**" />
	<mvc:resources location="/zbswitchjs/" mapping="/zbswitchjs/**" />
	
	<!-- 配置返回JSP页面结尾 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*.do" />
			<bean class="com.ibm.automation.core.controller.FilterInterceptor2">
				<property name="excludedUrls">
                <list>
                    <value>/login.do</value>
                    <value>/login.jsp</value>
                    <value>/</value>
                </list>
            </property>
			
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<!-- 文件上传配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>


</beans>  