<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.automation.core.dao.Task_InstanceBeanMapper">
  <resultMap id="BaseResultMap" type="com.ibm.automation.domain.Task_InstanceBean">
    <id column="task_id" jdbcType="VARCHAR" property="task_id" />
    <id column="dag_id" jdbcType="VARCHAR" property="dag_id" />
    <id column="execution_date" jdbcType="VARCHAR" property="execution_date" />
    <result column="start_date" jdbcType="VARCHAR" property="start_date" />
    <result column="end_date" jdbcType="VARCHAR" property="end_date" />
    <result column="duration" jdbcType="REAL" property="duration" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="try_number" jdbcType="INTEGER" property="try_number" />
    <result column="hostname" jdbcType="VARCHAR" property="hostname" />
    <result column="unixname" jdbcType="VARCHAR" property="unixname" />
    <result column="job_id" jdbcType="INTEGER" property="job_id" />
    <result column="pool" jdbcType="VARCHAR" property="pool" />
    <result column="queue" jdbcType="VARCHAR" property="queue" />
    <result column="priority_weight" jdbcType="INTEGER" property="priority_weight" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="queued_dttm" jdbcType="VARCHAR" property="queued_dttm" />
    <result column="pid" jdbcType="INTEGER" property="pid" /> 
  </resultMap>
  
 <select id="selectRunningTaskInstance" parameterType="hashmap" resultType="com.ibm.automation.domain.Task_InstanceBean">
  		select 
  		task_id,dag_id,date_format(execution_date,'%Y-%m-%d %H:%m:%s')  execution_date,
  		date_format(start_date,'%Y-%m-%d %H:%m:%s')  start_date,date_format(end_date,'%Y-%m-%d %H:%m:%s')  end_date,duration,state,
  		try_number,hostname,unixname,job_id,
  		pool,queue,priority_weight,operator,date_format(queued_dttm,'%Y-%m-%d %H:%m:%s')  queued_dttm,pid
  		from task_instance where dag_id = #{dag_id} and date_format(execution_date,'%Y-%m-%d %H:%m:%s')=DATE_FORMAT(#{execution_date},'%Y-%m-%d %H:%m:%s')
  </select>
  
 <select id="selectHistoryTaskInstance" parameterType="hashmap" resultType="com.ibm.automation.domain.Task_InstanceBean">
  		select 
  		task_id,dag_id,execution_date,
  		start_date,end_date,duration,state,
  		try_number,hostname,unixname,job_id,
  		pool,queue,priority_weight,operator,queued_dttm,pid
  		from task_instance where dag_id = #{dag_id} and execution_date=#{execution_date}
  </select>
  
  
</mapper>