body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1012px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:173px;
  width:797px;
  height:476px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:76px;
  width:72px;
  height:24px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:105px;
  width:72px;
  height:24px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:76px;
  width:72px;
  height:24px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:106px;
  width:72px;
  height:24px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:4px;
  width:46px;
  height:46px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:9px;
  width:186px;
  height:46px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#FFFFFF;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:14px;
  width:279px;
  height:37px;
  font-size:32px;
  color:#FFFFFF;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:76px;
  width:72px;
  height:24px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}

#u963_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u963_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u965_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u965_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u967_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u967_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u969_seg0 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-4px;
  width:53px;
  height:8px;
}
#u969_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u971_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u971_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-9px;
  width:19px;
  height:18px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u973_seg0 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-4px;
  width:53px;
  height:8px;
}
#u973_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u975_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u975_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u977_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u977_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u979_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u979_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u981_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u981_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u983_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u983_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u985_seg0 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-4px;
  width:53px;
  height:8px;
}
#u985_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u987_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u987_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-9px;
  width:19px;
  height:18px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u989_seg0 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-4px;
  width:53px;
  height:8px;
}
#u989_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-9px;
  width:19px;
  height:18px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u991_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u991_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u993_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u993_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u995_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u995_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u997_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u997_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u999_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u999_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u1001_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u1001_seg1 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:57px;
  width:128px;
  height:8px;
}
#u1001_seg2 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:52px;
  width:19px;
  height:18px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}

#u1003_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1003_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}


/* ************************************************************************************************* */
#u902 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:163px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:163px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:163px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:163px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:243px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:243px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:243px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:243px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:323px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:323px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:323px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:323px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:403px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:403px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:403px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:403px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:483px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:483px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:483px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:483px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:563px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:563px;
  width:150px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}

#u963 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:182px;
  width:0px;
  height:0px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:182px;
  width:0px;
  height:0px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:201px;
  width:0px;
  height:0px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:262px;
  width:0px;
  height:0px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:262px;
  width:0px;
  height:0px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:262px;
  width:0px;
  height:0px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:281px;
  width:0px;
  height:0px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:342px;
  width:0px;
  height:0px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:342px;
  width:0px;
  height:0px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:342px;
  width:0px;
  height:0px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:361px;
  width:0px;
  height:0px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:422px;
  width:0px;
  height:0px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:422px;
  width:0px;
  height:0px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:422px;
  width:0px;
  height:0px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:441px;
  width:0px;
  height:0px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:502px;
  width:0px;
  height:0px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:502px;
  width:0px;
  height:0px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:502px;
  width:0px;
  height:0px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:582px;
  width:0px;
  height:0px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:521px;
  width:0px;
  height:0px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:182px;
  width:0px;
  height:0px;
}



#u902,#u931,#u929,#u947,#u949 { left:119px; }
#u919,#u933,#u935,#u941,#u951,#u959 { left:318px; }
#u921,#u927,#u937,#u943,#u957,#u953 { left:518px; }
#u923,#u925,#u939,#u945,#u955 { left:717px; }

#u963,#u977,#u993 { left:269px; }
#u965,#u981,#u997 { left:668px; }
#u967,#u983,#u1001 { left:792px; }
#u969,#u985 { left:717px; }
#u971,#u987,#u999 { left:518px; }
#u973,#u989 { left:318px; }
#u975,#u991 { left:194px; }
#u979,#u995,#u1003 { left:468px; }

